@use 'sass:color';
@import 'link';

.header {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -60px;
    left: 0;
    z-index: 10;

    @include larger($xl){

    }
    
    @include between($lg, $xl){
        
    }
    
    @include between($md, $lg){
        min-height: 64px;        
    }
    
    @include between($sm, $md){
        display: none;
    }
    
    @include smaller($sm){
        display: none;
    }
}

.header__nav {
    display: grid;
    width: 30%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    @include between($lg, $xl){
        width: 40%;
    }

    @include between($md, $lg){
        width: 60%;       
    }
}


.header_home {
    background: none;
    &::after{
        background: none;
    }
}

.header_common{
    background-color: #1b1b1b;
}

.nav__title-container{
    width: 100%;
    height: 130px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 68px;
    position: relative;

    @include between($md, $lg){
        //margin-top: 64px;
        //margin-top: 65px;
        height: 115px;
    }

    @include between($sm, $md){
        //margin-top: 0;
        height: 2.5rem;
    }
    
    @include smaller($sm){
        margin-top: 0;
        height: 2rem;    
    }
    
    .nav__title{
        color: #ffffff;    
        font-weight: 500;
        font-size: 28px;
        text-align: center;
        margin: 0;
        margin-top: 74px;
        
        @include between($md, $lg){
            font-size: 24px;
        }

        @include between($sm, $md){
            font-size: 20px;
            margin-top: 0;
        }
        
        @include between($xs, $sm){
            font-size: 18px;
            margin-top: 0;
        }

        @include smaller($xs){
            font-size: 16px;
            margin-top: 0;
        }
    }

    .nav__back-btn{
        position: absolute;
        bottom: 1rem;
        color: #eee;
        text-decoration: none;
        font-size: 1.2rem;
        left: 1rem;
        margin-left: 40px;
        transition: $standart-transition;

        .nav__back-btn-arrow{
            svg{
                height: 1.2rem;
                top: .6rem;
                left: -1.2rem;
                position: absolute;
                transform: translateY(-50%) rotateZ(180deg);
                //width: 20px;
                fill: #eee;
                transition: .2s ease;

                @include between($md, $lg){
                    height: 28px;
                }
        
                @include between($sm, $md){
                    height: 26px;
                }
                
                @include smaller($sm){
                    height: 24px;
                }
            }
        }

        &:hover{
            color: $action-color;

            .nav__back-btn-arrow{
                svg{
                    fill: $action-color;
                    transition: .3s ease;
                }
            }
        }

        @include between($md, $lg){
            font-size: 20px;
            left: 15px;
            margin-left: 35px;

        }

        @include between($sm, $md){
            font-size: 18px;
            left: 10px;
            margin-left: 30px;
        }
        
        @include smaller($sm){
            font-size: 16px;
            left: 5px;
            margin-left: 20px;
        }
    }
}


// HEADER SMALL

