.admin-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ffffff1f;
    box-shadow: 0px 5px 0px 0px #0000002a;
}

.admin-header-wrapper{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}

.admin-hedaer__item{
    color: #ffffff;
    font-size: 18px;
    white-space: nowrap;
    transition: .3s ease;
    padding: 10px 30px;
    display: flex;
    width: auto;
    align-items: center;
    height: 20px;
    margin: 0;
    text-align: center;
    border-right: 1px solid #ffffff10;

    

    &:last-child{
        border: none;
        justify-self: flex-end;
    }

    &::after {
        content: '';

    }

    .admin-header__item-logo{
        width: 30px;
        height: 30px;
        padding-right: 5px;
        fill: #ffffff;
        transition: .3s ease;
    }

    &.admin-header__item_active{
        color: $lighter-action-color;
        
        .admin-header__item-logo{
            fill: $lighter-action-color;
        }
    }

    &:hover{
        color: $action-color;
        transition: .3s ease;
        
        .admin-header__item-logo{
            fill: $action-color;
        }
    }
}